<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <form action="/submit" method="post">  
        <input type="text" name="name"> 
        <input type="submit">
    </form>
   
    <% if( locals.found == 1 ) {%> 
        <%= locals.info  %>
    <% } %>

</body>
</html>